*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}
.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    min-width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1.7px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
.select-container img{
    max-width: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
     border: 1.7px solid lightgray;
    /* background-color: red; */
}
.dropdown i{
    font-size: 1.7rem;
    margin-top: 1rem;
}
.select-container select{
    font: 1.7rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
    text-align: center;
}
button{
    height: 3rem;
    background-color: #af4d98;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
}
h2{
    text-align: center;
    font-family: sans-serif;
    color:  #af4d98;
    font-size: 2.5rem;
    -webkit-text-stroke: 1.15px black;
}
@media screen and (max-width:613px) {
    .container{
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.4rem;
    min-height: 45vh;
    width: 90%;
}
    
}